html, body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, system-ui, sans-serif;
    scroll-behavior: smooth;
}

body {
    grid-template-areas: "nav nav" "main main" "footer footer";
    position: relative;
    display: grid;
    gap: 1cm;
}

/* Invert Bar */
.right-bar {
    grid-template-columns: auto 10cm !important;
}

/* Bar */
.bar {
    grid-template-columns: 10cm auto !important;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
    background: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 1) 0cm, rgba(255, 255, 255, 1) 0.15cm, rgba(225, 225, 225, 1) 0.15cm, rgba(230, 230, 230, 1) 0.2cm);
}

nav {
    grid-area: nav;
    position: sticky;
    display: block;
    top: 2cm;
    height: 95vh;
    overflow-y: auto;
}

footer {
    grid-area: footer;
}

button {
    cursor: pointer;
}

img, audio, video, embed, ruffle-embed {
    max-width: 100%;
    max-height: 100%;
}

img, video {
    object-fit: cover;
}

/* Ruffle is a pain to work with. */
ruffle-embed {
    z-index: -1;
}
.card ruffle-embed, .card video, .card img, .card audio, .card embed, .card iframe {
    height: 5cm;
    height: -webkit-fill-available !important;
}

main {
    position: relative;
    grid-area: main;
    margin-top: 2cm;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

main, nav {
    z-index: -1;
}

h1 {
    display: block;
    max-width: 30cm;
    margin-left: auto;
    margin-right: auto;
}

select, form, option, label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, system-ui, sans-serif;
}

select, input {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, system-ui, sans-serif;
    border-radius: 0.1cm;
    vertical-align: middle;
    padding: 0.05cm 0.1cm;
    border: solid black 0.01cm;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(230, 230, 230, 1) 50%, rgba(250, 250, 250, 1) 100%);
}

select:focus, select:focus-within, select:hover, input:focus, input:focus-within, input:hover {
    outline: none;
    background: linear-gradient(to bottom, rgba(200, 230, 255, 1) 0%, rgba(190, 210, 240, 1) 50%, rgba(180, 200, 230, 1) 50%, rgba(200, 200, 250, 1) 100%);
}

select:focus, select:focus-within, input:focus, input:focus-within {
    animation: focus 0.5s infinite ease-out;
}

footer a {
    transition: all 0.1s;
}

footer a:focus, footer a:focus-within, footer a:hover {
    outline: none;
    color: blue;
    text-shadow: 0.01cm 0.01cm 0.01cm black;
}

option {
    cursor: pointer;
}

input {
    padding: 0.09cm 0.1cm;
    margin: 0;
    vertical-align: inherit;
    font-size: 0.8rem;
}

label {
    cursor: text;
}

@keyframes left {
    from {
        left: 5cm;
    }
    to {
        left: 0cm;
    }
}

@media (max-width: 15cm) {

    .bar {
        grid-template-areas: "nav nav" "main main" "footer footer";
    }

    nav {
        position: relative;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .bar main, .bar nav, .right-bar main, .right-bar nav {
        animation: left 0.5s cubic-bezier(0, 1, 0.5, 1);
    }
    
    .card .card-pic, .card .card-text {
        max-width: 100%;
    }

    .headlow {
        margin: 0cm 0cm;
    }
}

@media (min-width: 15cm) {

    .bar nav, .right-bar nav {
        position: fixed;
    }
    
    .bar {
        grid-template-areas: "nav main" "footer footer";
    }
    
    .right-bar {
        grid-template-areas: "main nav" "footer footer";
    }

    .bar main, .bar nav, .right-bar main, .right-bar nav {
        animation: right 0.5s cubic-bezier(0, 1, 0.5, 1);
    }
    
    .card .card-pic, .card .card-text {
        max-width: 50%;
    }

    .headlow {
        margin: 0cm 0.5cm;
    }
}


/* TODO: ADD DARK THEME + HIGH CONTRAST THEME */
/* Again, I know that I'm not supposed to do this, but I'm copying my accessibility framework from Placehorsey; I am proud of how reliable it is and how cool it looks. */
@media (prefers-reduced-motion) {
    html, body, button, a, nav, footer {
        transition-duration: 0s !important;
        animation-duration: 0s !important;
        scroll-behavior: unset !important; 
    }
}

/* High Contrast Theme Here */
media (prefers-contrast: more) or (-ms-high-contrast: active) { 

}

/* Dark Theme Here */
@media (prefers-color-scheme: dark) { 

}

/* Light Theme Here */
@media (prefers-color-scheme: dark) { 

}
#headlow {
    border-bottom: solid rgba(150, 150, 150, 1) 0.05cm;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(230, 230, 230, 1) 50%, rgba(250, 250, 250, 1) 100%);
    border-top: solid rgba(150, 150, 150, 1) 0.05cm;
    z-index: -2;
    margin-top: -0.045cm;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0.05cm 0.05cm;
    -webkit-line-clamp: 1;
}

.headlow {
    padding: 0.05cm 0.1cm;
    padding-top: -0.025cm;
    font-size: 0.3cm;
    color: black;
    text-decoration: none;
    white-space: nowrap;
    transition: margin 0.1s ease-in-out;
}

.headlow:hover, .headlow:focus, .headlow:focus-within {
    background: rgba(100, 150, 255, 1);
    outline: none;
}

.headlow:active {
    background: rgba(90, 140, 255, 1);
    outline: none;
}

#headlow-chosen {
    background: rgba(100, 150, 255, 1);
    outline: none;
}

#headlow-chosen:hover, #headlow-chosen:focus, #headlow-chosen:focus-within {
    background: rgba(90, 140, 255, 1);
    outline: none;
}

#headlow-chosen:active {
    background: rgba(255, 225, 165, 1);
}

#headtop, #headlow {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.headtop {
    margin-top: 0.1cm;
    border: solid rgba(150, 150, 150, 1) 0.05cm;
    border-bottom: solid rgba(150, 150, 150, 1) 0.05cm;
    background: linear-gradient(to bottom, rgba(220, 220, 220, 1) 55%, rgba(255, 255, 255, 1) 90%);
    display: block;
    width: 3cm;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 5% 5% 0 0 / 30% 30% 0 0;
    z-index: 0;
    box-shadow: black -0.1cm 0 0.05cm -0.1cm inset, black 0.1cm 0 0.05cm -0.1cm inset;
    padding: 0.15cm 0.05cm;
}

.headtop::after {
    content: "";
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    z-index: -1;
    width: calc(100% + 0.1cm);
    height: calc(50% + 0.15cm);
    top: calc(-100% - 0.15cm);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 7% 7% 5% 5%/ 95% 95% 80% 80%;
    left: -0.05cm;
}

.headtop:hover, .headtop:focus, .headtop:focus-within {
    outline: none;
    border: solid rgba(100, 120, 150, 1) 0.05cm;
    border-bottom: solid rgba(100, 120, 150, 1) 0.05cm;
    background: linear-gradient(to bottom, rgba(150, 180, 220, 1) 55%, rgba(185, 205, 255, 1) 90%);
}

.headtop::after:hover, .headtop::after:focus, .headtop::after:focus-within {
    background: rgba(205, 255, 255, 0.5);
}


.headtop:active {
    border: solid rgba(80, 100, 150, 1) 0.05cm;
    border-bottom: solid rgba(80, 100, 150, 1) 0.05cm;
    background: linear-gradient(to bottom, rgba(130, 160, 220, 1) 55%, rgba(165, 185, 255, 1) 90%);
}

.headtop::after:active {
    background: rgba(185, 255, 255, 0.5);
}

#headtop-chosen {
    border-bottom: none !important;
    border: solid rgba(80, 100, 150, 1) 0.05cm;
    border-bottom: solid rgba(80, 100, 150, 1) 0.05cm;
    background: linear-gradient(to bottom, rgba(130, 160, 220, 1) 55%, rgba(165, 185, 255, 1) 90%);
}

#headtop-chosen:focus, #headtop-chosen:focus-within {
    border: solid rgba(150, 140, 80, 1) 0.05cm;
    border-bottom: solid rgba(150, 140, 80, 1) 0.05cm;
    background: linear-gradient(to bottom, rgba(220, 190, 120, 1) 55%, rgba(255, 225, 165, 1) 90%);
}

#headtop-chosen::after:focus, #headtop-chosen::after:focus-within {
    background: rgba(255, 255, 185, 0.5);
}

#headtop-chosen::after {
    background: rgba(185, 255, 255, 0.5);
    top: calc(-100% - 0.1cm);
}

footer {
    padding: 1cm 0.5cm;
    font-size: 0.75rem;
}

footer a {
    color: black;
    text-decoration: none;
}

#foot-desc {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    font-size: 1rem;
}

#foot-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#foot-nav li, #foot-nav ul {
    list-style: none;
    text-indent: -1cm;
}

#foot-nav ul {
    margin-top: -0.25cm;
}

#highlight {
    max-width: 30cm;
    margin-left: auto;
    margin-right: auto;
}

#highlight img, #highlight video, #highlight iframe, #highlight audio, #highlight code, #highlight embed {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}

#highlight div {
    display: inline-block;
    vertical-align: top;
}

#main-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 30cm;
    grid-auto-rows: 5cm;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 1cm;
}

.card img {
    display: inline-block;
    width: 50%;
    height: 100%;
    transition: all 0.1s ease-in-out;
}

.card div {
    display: inline-block;
    vertical-align: top;
}

.card {
    display: inline-block;
}

.card-pic {
    display: inline-block;
    height: 5cm; /* Ruffle and JSCanvas are a pain to deal with. */
    height: -webkit-fill-available;
    
}

@keyframes focus {
    0% { box-shadow: 0 0 0 skyblue; }
    50% { box-shadow: 0 0 0.1cm blue; }
    100% { box-shadow: 0 0 0 skyblue; }
}

/* I know this is not supposed to be done, but the following accessibility code was imported from my former assignment. */

.skipper {
    display: block;
    opacity: 0;
    transition-property: transform, opacity, left;
    transition-duration: 0.25s, 0.25s, 0s;
    transition-delay: 0s, 0s, 0.25s;
    transition-timing-function: ease-in;
    position: fixed;
    top: 0;
    left: -100vw;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,0.5) 100%) ;
    z-index: 10;
}

.skipper-title, .skipper a {
    font-weight: bold;
    opacity: 1;
    z-index: 2;
    font-size: 10pt;
    text-decoration: none;
}

.skipper-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.skipper a{
    background: linear-gradient(#FFFFFFA0 0%, #6F6F88A0 50%, #555555A0 50%, #9999BBA0 100%);
    border: solid #111111 0.05rem;
    border-radius: 0.2rem;
    text-shadow: 0 -0.05rem black;
    color: white;
    font-family: Helvetica, sans, sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.1rem;
    vertical-align: middle;
    box-shadow: 0 0.03rem grey, 0.01rem 0.02rem grey inset, -0.01rem 0.02rem grey inset;
}

.skipper a:focus {
    text-shadow: 0 -0.05rem black;
    outline: none;
}

.skipper a:hover {
    background: linear-gradient(#FFFFFF80 0%, #6F6F8880 50%, #55555580 50%, #9999BB80 100%);
    text-shadow: 0 -0.05rem black;
}

.skipper a:active {
    background: linear-gradient(#DDDDDDA0 0%, #3F3F55A0 50%, #333333A0 50%, #666699A0 100%);
    text-shadow: 0 -0.05rem black;
}

.skipper-text {
    font-weight: normal;
    opacity: 1;
    z-index: 2;
    font-size: 8pt;
    margin-bottom: 0.5rem;
}

.skipper-container-border {
    position: fixed;
    bottom: calc(50vh + 2rem);
    left: -100vw;
    width: 7cm;
    padding: 0.25rem;
    text-shadow: 0 -0.05rem black;
    color: white;
    font-family: Helvetica, sans, sans-serif;
    border-radius: 0.5rem;  
    box-shadow: 0 0 0.1rem black, 0 0 0 0.1rem white inset; 
    background: radial-gradient(at center, rgb(0, 15, 65, 0.7) 0%, rgb(0, 0, 40, 0.7) 100%);
    transition-property: transform, opacity, left;
    transition-duration: 0.25s, 0.25s, 0.25s;
    transition-delay: 0s, 0s, 0.3s;
    transition-timing-function: ease-in;
    transform: scale(1.1);
    opacity: 0;
}

.skipper-container-border:focus-within {
    transition-property: transform, opacity, left;
    transition-duration: 0.25s, 0.25s, 0s;
    transition-delay: 0s, 0s, 0s;
    transition-timing-function: ease-in;
    left: calc(50vw - 3.5cm);
    transform: scale(1);
    opacity: 1;
}

.skipper-container-border::after {
    position: absolute;
    content: "";
    border-radius: 0.5rem 0.5rem 0 0;
    background: radial-gradient(farthest-side at center top, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.2) 70%, rgba(255,255,255,0) 71%)/*, linear-gradient(to bottom,rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 40%, rgba(255,255,255,0) 60%)*/;
    background-size: 300% 80%;
    background-repeat: no-repeat;
    background-position: 50% -185%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    image-rendering: optimizeQuality !important;
}

.skipper:focus-within {
    transition: opacity 0.25s ease-in;
    opacity: 1;
    left: 0;
    top:0;
}
